<h1>About us</h1>
<p>Hi there! I'm Alex Hardy and I'm working on this One Month Rails Project.</p>
<p>Alex is a the Chief Operating Officer at Liveoak Technologies, an enterprise collaboration tool that combines video conferencing, electronic signature, and screen sharing, to help enterprises and their customers close more deals faster</p>
<p>I'm taking this course because I want to become a better product manager, and perhaps one day start my own company</p>