<h1>Welcome to my website!</h1>
<p>This is a site that helps startups work with each other more easily. You can think of it as "Partnerships as a Service"</p>
<p>I decided to build this product because, as an early-stage entrepreneur, working with other startups is a huge pain point</p>
<p>Sign up here</p>
